#alert {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(100vw - 2ch);
  height: 100vh;

  font-size: xx-large;

  padding: 0 1ch;
  color: white;
  text-align: center;
}

.error {
  z-index: 2;
  color: red;
}

canvas#main {
  width: 100%;
  height: 100%;

  background-color: #000;

  position: relative;
  z-index: 1;
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  overflow: hidden;
}

html {
  background-color: #000;
}

#info {
  position: fixed;
  padding: 2px;
  max-width: 25vw;
  max-height: 100vh;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  color: white;

  opacity: 50%;
  font-family: monospace;

  transition: opacity 0.2s;

  &:hover {
    background-color: #000;
    opacity: 100%;
  }

  z-index: 999;
}

#chevron {
  height: 1em;
  aspect-ratio: 1;
  float: right;

  transform: rotate(180deg);
}

#chevron.collapsed {
  transform: rotate(0);
}

#content.collapsed {
  height: 0;
  opacity: 0;
}

h1,
h2 {
  font-size: 1em;
  display: inline;
}

label {
  display: flex;
  align-items: flex-start;
}

label > span {
  margin-right: 1ch;
}

input[type="range"] {
  appearance: none;
  height: 1em;
  background: #808080;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 10000px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1em;
  height: 1em;
  background: #ae1adb;
  cursor: pointer;
  border-radius: 10000px;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 1em;
  height: 1em;
  background: #ae1adb;
  cursor: pointer;
  border-radius: 10000px;
}

button {
  background: #ae1adb;
  border: 1px solid #9213b8;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 2px 2ch;
}

button:hover {
  background: #9213b8;
  border-color: #7b109b;
}

.hidden {
  display: none;
}

iframe {
  z-index: 2;

  width: 50%;
  aspect-ratio: 1920 / 1080;
}
